.form-container {
    background-color: #5C5C5C;
    display: flex;
    background-image: url("/images/truck.png");
    background-repeat: no-repeat;
}
.contact-h2 {
    font-size: 5em;
    font-weight: bold;
    text-align: right;
}
.form-box {
    display: flex;
    flex-direction: column;
}
.contact-form {
    display: flex;
    flex-direction: column;
    margin: auto auto;
}
.contact-input {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: 2px solid #FED669;
    border-bottom: 2px solid #FED669;
    color: white;
    padding: .5em;
    margin: .5em 0;
}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder{
    font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:lightgray;
}
textarea::-webkit-input-placeholder, input:-moz-placeholder {
    color: lightgray;
}
textarea {
    color: white;
}
.contact-submit-btn {
    width: 30%;
    padding: .5em;
    background-color: transparent;
    border: 2px solid #FED669;
    color: lightgrey;
    margin: 1em auto;
}
.contact-h3 {
    font-size: 1.8em;
    margin: 0 auto;
    color: #FED669;
}
@media (min-width: 320px) and (max-width: 480px) {
    .form-box h2 {
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 1em;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }
    .contact-form {
        margin: 0 auto;
    }
}

.g-recaptcha {
    margin: 0 auto;
}
@media (min-width: 481px) and (max-width: 768px) {
    .form-container {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }
    .contact-h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .contact-h2 {
        font-size: 4.4rem;
        text-align: right;
        margin: auto 0;
        padding-right: .5em;
    }
    .form-box {
        width: 50%;
        padding: 1rem 0 1rem 0;
    }
}
@media (min-width: 1025px) {
    .contact-h2 {
        font-size: 6rem;
        text-align: right;
        margin: auto 0;
        padding-right: .5em;
    }
    .form-box {
        width: 50%;
        padding: 1rem 0 1rem 0;
    }
    .contact-form {
        width: 70%;
    }
}