.container {
    position: relative;
    min-height: 300px;
    max-height: 800px;
    overflow: hidden;
}

/* Style the video: 100% width and height to cover the entire window */
.video {
    width: 100%;
    height: 100%;
  }
  
/* Add some content at the bottom of the video/page */
.content {
    position: absolute;
    top: 0;
    color:#f1f1f1;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    padding: 0;
}
.sub-content {
    max-width: 90%;
    padding: 10px;
    margin: 0 auto;
}
.sub-content p {
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2px;
    color: #E6E6E6;
    margin-bottom: 2em;
    line-height: 1.5em;
}
.btn {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    background-color: #FED669;
    padding: .5em 1em;
    margin-top: 2em;
    border-radius: 4px;
    transition: .2s ease-in-out all;
}
.btn:hover {
    background-color: black;
    color: #FED669
}
@media (min-width: 320px) and (max-width: 480px) {
    .container {
        background-image: url('/images/bg.jpg');
        background-size: cover;
        height: 500px;
    }
    .sub-content {
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
    }
    .sub-content h2 {
        font-size: 1.6em;
        text-align: center;
    }
    .sub-content p {
        font-size: small;
        text-align: center;
        margin-top: .75em;
    }
    .video {
        display: none;
    }
    .btn {
        width: 25%;
        margin: 0 auto;
        text-align: center;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .sub-content {
        text-align: center;
        margin-top: 3rem;
        max-width: 70%;
    }
    .container {
        background-image: url('/images/bg.jpg');
        background-size: cover;
        height: 500px;
    }
    .video {
        display: none;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .sub-content {
        max-width: 70%;
        margin-top: 3rem;
    }
    .sub-content h2 {
        max-width: 80%;
    }
}
@media (min-width: 1025px) {
    .sub-content {
        max-width: 50%;
        margin-top: 9rem;
    }
    .sub-content h2 {
        max-width: 55%;
        margin-bottom: .5rem;
        font-size: 2.5rem;
    }
}