.nav-container {
    background-color: transparent;
    display: flex;
    margin: 0 auto;
    width: 80%;
}
.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    min-width: 200px;
}
 .nav-item-container {
    display: flex;
    margin-left: auto;
}
.nav-item {
    text-decoration: none;
    padding: 2rem 3rem;
    border-bottom: 2px solid transparent !important;
    color: white;
}
.logo-header {
    color: #FDD767;
}
.uppercase {
    text-transform: uppercase;
}
.line-span {
    background-color: rgba(85, 87, 99, .6);
    height: 3px;
    width: 125px;
    margin: .25em auto;

}
.logo-secondary-header {
    font-family: roboto, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: larger;
    text-align: center;
}
.hamburger-icon {
    font-size: 2em;
    margin-top: .5em;
    color: #FDD767;
    cursor: pointer;
}
.drawer-container {
    background-color: #585858;
    width: 250px;
    height: 100%;

}
.drawer-logo {
    display: block;
    width: 60%;
    margin: 0 auto 2em auto;
}
.nav-btn {
    text-decoration: none;
    text-transform: uppercase;
    color: lightgray;
    display: block;
    text-align: center;
    font-size: 1.3em;
    padding: .5em;
}
.btn-close {
    color: hsl(0, 61%, 74%);
    display: block;
    margin: 2em auto;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out all;
}
.company-logo {
    height: 75px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .nav-container { 
        width: 100%;
    }
    .company-logo {
        height: 60px;
        padding: 1em;
    }
    .hamburger-icon {
        margin-left: auto;
        padding-right: 1rem;
        margin-top: 1em;
    }
    .nav-item-container {
        display: none;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .nav-container {
        width: 100%;
    }
    .nav-item-container {
        display: none;
    }
    .hamburger-icon {
        margin-left: auto;
        padding-right: 1rem;
        margin-top: 1em;
    }
    .company-logo {
        height: 70px;
        padding: 1em;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .nav-container {
        width: 100%;
    }
    .nav-item-container {
        display: none;
    }
    .hamburger-icon {
        margin-left: auto;
        padding-right: 1rem;
        margin-top: 1em;
    }
    .company-logo {
        height: 70px;
        padding: 1em;
    }
}
@media (min-width: 1025px) {
    .hamburger-icon {
        display: none;
    }
}
