.container-footer {
    background-color: black;
    padding: .5em;
}
.copy-text {
    font-family: Roboto;
    text-align: center;
    color: lightgray;
    font-size: .75em;
}
.container-lovast {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lovast-text {
    color: lightgray;
    font-family: Roboto;
    padding-left: .5em;
    margin: auto 0;
    font-size: .75em;
}
.lovast-logo {
    height: 40px;
}