html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 64.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 2rem;
}
p {
	letter-spacing: 2px;
	line-height: 1.5em;
}
.home-container {
	margin: 0 auto;
}
.about-header {
	text-align: center;
	font-weight: 700;
	font-style: normal;
	margin-top: 3rem;
	margin-bottom: .25em;
}
.about-para {
	text-align: center;
	letter-spacing: 2px;
	line-height: 1.5em;
}
.rotating-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-evenly;
	align-items: center;
	background-color: #FED669;
	margin: 2rem auto;
	padding: .75em;
	border-radius: 4px;
}
.rotating-text {
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
.tri-container {
	display: grid;
	grid-template-columns: 1fr 2px 1fr 2px 1fr;
	margin: 0 auto;
}
.tri-box p {
	text-align: center;
	padding: 1em 2em;
}
.tri-box-icon {
	font-size: 8em;
	font-family: Roboto;
	font-weight: bold;
	color: lightgrey;
	text-align: center;
}
.tri-box-seperator {
	background-color: rgba(0, 0, 0, .4);
	margin: auto 0;
}
.about-container {
	margin-top: 3em;
	background-color: lightblue;
	display: flex;
}
.about-box {
	background-color: black;
	background-image: url("/images/crane.svg");
	background-size: cover;
}
.about-box:nth-of-type(1) {
	background-color: #FED669;
}
.about-box h2 {
	text-align: center;
	padding-bottom: .5em;
	padding-top: 1rem;
}
.about-box p {
	text-align: center;
	letter-spacing: 2px;
	line-height: 1.5em;
	margin: .25rem;
}
.video {
	height: 100%;
}
.App {
	position: relative;
}
.div-seperator {
	background-color: lightgray;
	height: 4px;
	width: 110px;
	border-radius: 15%;
	margin: 0 auto .75em auto;
}
.about-h2 {
	font-weight: bold;
	font-family: Roboto;

}
@media (min-width: 320px) and (max-width: 480px) {
	.rotating-container {
		display: flex;
		flex-direction: column;
	}
	.about-container {
		display: flex;
		flex-direction: column;
	}
	.tri-container {
		display: flex;
		flex-direction: column;
		width: auto;
	}
	.video {
		display: none;
	}
	.tri-box-seperator {
		height: 3px;
		width: 70%;
		margin: 0 auto;
	}
	.tri-box {
		width: 350px;
		margin: 0 auto;
	}
}
@media (min-width: 481px) and (max-width: 768px) {
	.rotating-container {
		display: flex;
		flex-direction: column;
	}
	.tri-container {
		display: flex;
		flex-direction: column;
		width: auto;
	}
	.about-container {
		display: flex;
		flex-direction: column;
	}
	.about-para, .about-header {
		max-width: 70%;
		margin: 1em auto 0 auto;
	}
	.tri-box-seperator {
		height: 3px;
		width: 70%;
		margin: 0 auto;
	}
}
@media (min-width: 769px) and (max-width: 1024px) {
	.tri-box-seperator {
		width: 3px;
		height: 70%;
		margin: auto 0;
	}
	.about-box {
		width: 50%;
	}
}
@media (min-width: 1025px) {
    .about-header {
		max-width: 70%;
		margin: 1.5rem auto .25rem auto;
	}
	.about-para {
		max-width: 70%;
		margin: 0 auto;
	}
	.tri-container {
		max-width: 70%;
	}
	.tri-box-seperator {
		width: 3px;
		height: 70%;
		margin: auto 0;
	}
	.about-box {
		width: 50%;
	}
	.rotating-container {
		width: 70%;
	}
}