.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.google-map {
  width: 100%;
  height: 20vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}
  
@media (min-width: 320px) and (max-width: 480px) {
  .google-map {
    height: 50vh;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .google-map {
    height: 40vh;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .google-map {
    height: 40vh;
  }
}
@media (min-width: 1025px) {
  .google-map {
    height: 40vh;
  }
}